body {
    margin: 0px;
    font-family: "Ringside Wide";
    text-align: center;
}

.header {
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    padding: 20px;
}
  
.header a {
float: left;
color: white;
text-align: center;
padding: 4px 20px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
}

.header a.logo {
    cursor: default;
}

div.btn-group {
    display: inline-block;
}

button.navigation {
    background-color: rgb(23, 99, 75);
    font-family: "Ringside Wide";
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 12px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
}

button#back-button.navigation {
    background-color: white;
    color: rgb(23, 99, 75);
    border: 2px solid rgb(23, 99, 75);
}

button#next-button.navigation {
    border: 2px solid rgb(23, 99, 75);
}

button.navigation:hover {
    opacity: 0.5;
}

div.answer-options {
    display: inline-block;
    margin-top: 20px;
}

div.answer-options button {
    background-color: rgb(23, 99, 75);
    font-family: "Ringside Wide";
    border-radius: 4px;
    border: none;
    color: white;
    padding: 14px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 20px 10px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
}

div.answer-options button:hover {
    opacity: 0.75;
}

#flashcard-navigation {
    padding-top: 14px;
}

.disabled {
    opacity: 0.5;
}

div.card-intro {
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

div.quiz-intro {
    display: inline-block;
    margin-top: 50px;
}

.flip-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 250px;
    height: 375px;
    display: inline-block;
    text-align: center;
    font-family: 'Ringside Wide';
}

.flip-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 300px;
    object-fit: cover;
}

.flip-card-front {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

h2.flip-card-front {
    font-size: 22px;
    font-weight: 700;
}

.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
}

p.flip-card-back.rating {
    font-size: 35px;
    margin: 10px;
    padding-top: 40px;
}

p.flip-card-back.content {
    font-size: 20px;
    margin: 10px;
}

.flip-card-back.title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 10px;
}

p.card-count {
    font-size: 16px;
    display: inline-block;
}